<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p ="http://primefaces.org/ui">
    <h:head>
        <title>Mobex Admin Site</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body style="background: #FF9900;">
        <p:layout fullPage="true">
            <p:layoutUnit style="background: white;" size="120" position="north">
                <div style="position: absolute; width: 100%; background: white; top: 7px;">
                <img src="img/banner.jpg"></img>
                </div>
            </p:layoutUnit>
            <p:layoutUnit style="background: white;" position="center">
                <h:form>
                    <p:slideMenu>
                        <!-- <p:menuitem outcome="welcomePrimefaces" value="Primefaces welcome page" />
                        <br/> -->
                        <p:menuitem outcome="index" value="Home" />
                        <br />
                        <p:menuitem outcome="/appuser/List" value="Show All Appuser Items"/>
                        <br />
                        <p:menuitem outcome="/cfgRemittanceStatus/List" value="Show All Remittance Status Items"/>
                        <br />
                        <p:menuitem outcome="/constant/List" value="Show All Constant Items"/>
                        <br />
                        <p:menuitem outcome="/device/List" value="Show All Device Items"/>
                        <br />
                        <p:menuitem outcome="/remittance/List" value="Show All Remittance Items"/>
                        <br />
                       <p:menuitem outcome="/remittanceTrail/List" value="Show All Remittance Trail Items"/>
                    </p:slideMenu>
                </h:form>
            </p:layoutUnit>
            <p:layoutUnit style="background: white;" position="south" size="30">
                
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

